.head{
    width: 100%;
    height: 60px;
}
.myHeader{
    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 60px;
    background-color: #fff;
    line-height: 60px;
    z-index: 11111;
    top: 0;
}
.headDetail{
   display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 2000;
    background-color: #ffffff;
   }
   .headDetail li a{
    color: #000000;
}
.headDnav{
    height: 80px;
    line-height: 80px;
    background-color: #f4f4f4;
}
.headDnav ul{
    display: flex;
}
.headDnav li{
    margin: 0 30px;
}
.headDetail .headNavActive{
    height: 78px;
    line-height: 80px;
    border-bottom: 2px solid #e12726;
}
.headBanner{
display: flex;
transition-duration: 0.4s;
}
.headBanner ul li:first-child{
    font-weight: 700;
    font-size: 16px;
}
.headBanner ul .headTitle a:hover{
 color: #e1140a;
}
.headBanner ul li{
    display: flex;
    flex-direction: column;
    height: 35px;
    font-size: 13px;
}

.headFirst ul{
    margin: 0 45px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.headSecond{
    display: none;
}
.headSecond ul{
    margin: 0 130px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.head3 ul{
    margin: 0 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.logo{
    float: left;
    width: 180px;
    margin-top: 10px;
    margin-left: 20px;
}

.nav_left{
  float: left;

}
.nav_left .nl-li,.nav_right li {
   
    float: left;
    height: 60px;
    margin:0 10px;
}
.nav_left .nl-li:hover{
    height: 55px;
    border-bottom: 5px solid #e12726;
}
.nav_left .nl-li a{
    color: #252525;
}
.nav_right{
    width: 360px;
  float: right;
 display: flex;
}
.nav_right li{
    display: flex;
}
.nav_right li a{
    color: #000000;
    font-size: 13px;
}

.nav_right .liBuy{
 position: relative;

}
.liBuy:hover .buyListFrame{
    display: block;

}
.liBuy:hover .navBuy::after{
    content: '\f106';
}
.buyListFrame{
    transition:all 0.4s;
    display: none;
}
.buyList{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    top: 50px;
    left: -45px;
    position: absolute;
    width: 65px;
    height:140px;
    background-color: #fff;
    color: #404040;
    text-align: center;
    font-size: 14px;
   padding: 0px 30px;
   box-shadow:rgb(189, 187, 187) 0 0 5px ;
}
.nav_right .buyList li{
 height: 40px;
}
.nav_right .buyList li a:hover{
    color: #e3261c;
}
.navBuy{
    display: flex;
}
.nav_right .navBuy::after{
    position: relative;
    right: -3px;
 
    font-family: 'icomoon';
    content: '\f107';
    font-size: 22px;
    color: #9e9e9e;

}
.nav_right .line{
    position: relative;
    top: 21px;
    width: 2px;
    height: 18px;
    padding: 0;
    margin: 0 ;
   background-color:  #cccccc;
}
.nav_right .navSearch{
   position: relative;
   top: 7px;
    width: 25px;
}
.nav_right .navCart{
 position: relative;
 width: 40px;
 top:6px;
    width: 25px;
}
.nav_right .CartNum{
    position:absolute;
    top: 0;
    width: 22px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 22px 22px 22px 0;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-size: 13px;
}

